//====================================================================================================
.header {
	padding: 30px 0;
	min-height: 250px;
	background: url('../img/images/pattern-bg.png') center (center/cover) no-repeat;
		// .header__container
		&__container {}
		// .header__title
		&__title {
			color: white;
			text-align: center;
			font-size: rem(35);
			font-weight: 500;
		}
		// .header__form
		&__form {
			margin: rem(30) 0px 0px 0px;
			text-align: center;
		}
		// .header__info
		&__info {}
}
.form-header {

	// .form-header__search
	&__search {
		width: 500px;
		height: 60px;
		cursor: pointer;
		padding: 0 rem(30);
		border-radius: 15px 0 0 15px;
		font-weight: 400;
	}
	// .form-header__button
	&__button {
		background-color: $mainColor;
		width: 50px;
		height: 60px;
		border-radius: 0 15px 15px 0;
	}
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
