//====================================================================================================
.header {
	padding: 30px 0;
	height: 250px;

	@media (max-width:$mobile) {
		height: 300px;
	}

	background: url('../img/images/pattern-bg.png') center (center/cover) no-repeat;

	// .header__container
	&__container {}

	// .header__title
	&__title {
		color: white;
		text-align: center;
		font-size: rem(28);
		font-weight: 500;
	}

	// .header__form
	&__form {
		margin: rem(30) 0px rem(30) 0px;
		text-align: center;
	}

	// .header__info
	&__info {}
}

.form-header {

	img {
		display: block;
		margin: 0 auto;
	}

	// .form-header__search
	&__search {

		@include adaptiveValue("width", 500, 300);
		height: 50px;
		cursor: pointer;
		padding: 0 rem(20);
		border-radius: 15px 0 0 15px;
		font-weight: 400;
	}

	// .form-header__button
	&__button {
		background-color: $mainColor;
		width: 50px;
		height: rem(50);
		border-radius: 0 15px 15px 0;
	}
}

.info-header {

	// .info-header__body
	&__body {
		position: relative;
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		margin: 0 auto;
		height: 125px;
		border-radius: 12px;
		background-color: #fff;
		padding: rem(30) rem(40) rem(30) rem(20);
		z-index: 9999;
		flex-wrap: wrap;

		@media (max-width:$mobile) {
			display: block;
			height: auto;
			border: none;
			padding: rem(10) rem(20) rem(10) rem(20);

		}
	}

	// .inf-header__text
	&__text {
		@include adaptiveValue("margin-left", 60, 0);
	}

	// .info-header__item
	&__item {
		border-left: 1px solid $secondColor;
		height: 100%;

		@media (max-width:$mobile) {
			text-align: center;
			margin: 20px 0;
			border: none;
		}

		&:first-child {
			border: none;

			.info-header__text {
				margin-left: 0;
			}
		}
	}

	// .info-header__find
	&__find {
		margin: 0px 0px rem(10) 0px;
		color: $secondColor;
		font-size: rem(10);
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: rem(2);
	}

	// .info-header__descr
	&__descr {
		font-size: rem(22);
		font-weight: 500;

		@media (max-width:$mobile) {
			br {
				display: none;
			}
		}
	}
}


//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/